<section data-header-target="other">
  <%= render "shared/header" %>

  <iframe src="https://app.glofox.com/portal/#/branch/61ef3752e0cdb3183c4831a6/classes-day-view" frameborder="0" width="100%" height="1200"></iframe><a href="https://www.glofox.com">powered by <b>Glofox</b></a>
  
</section>