@font-face {
    font-family: 'JosefinSans';
    src: url('JosefinSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
@font-face {
  font-family: 'northwave';
  src: url('north-wave.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'JosefinSans-reg';
  src: url('JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open';
  src: url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-light';
  src: url('OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-light-italic';
  src: url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

