
.admin-cont {
  font-family: "open";
}

.admin-main {
  position: relative;
  padding-top: 50px;
  width: 100%;
}

.admin-panel {
 width: 300px; 
 font-size: var(--font-size-xxl);
 font-family: "open";
}

.admin-heading-cont {
  margin-bottom: 50px;
}

.admin-heading {
  font-size: var(--font-size-xxxxxl);
}

.admin-new-button {
  padding: 10px 20px 10px 20px;
  border: 2px solid #5e548e;
  border-radius: 10px;
  &:hover {
    color: white;
    background-color: #5e548e;
    border-color: white;
  }
}

.admin-item {
  font-family: "open";
  margin: 20px;
  // padding: 12px 20px 10px 20px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: lightgrey;
}
.admin-item-create {
  border: 2px solid #5e548e;
  background-color: white;
}

.admin-item-name {
  margin-left: 20px;
  // color: white;
  align-self: center;
}

.admin-item-select {
  margin-left: 20px;
  // color: white;
  align-self: center;
}

.ballet-class__actions {
  margin:5px 20px 5px 5px;
}

.admin-form-field {
  margin: 5px 0px 5px 20px;
  vertical-align: middle;
  &:focus {
    outline-color: #5e548e;
  }
}

.current-file {
  font-size: var(--font-size-xs);
  color: red;
}

.admin-item-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-item-dates {
  color: #666;
  font-size: 0.9em;
}