.classes_cont {
  flex-wrap: wrap;
}

.class_cont {
  flex-wrap: wrap;
  margin-top: 50px;
}

.class_picture_cont {
  width: 100%;
  @include media(tabletAndUp) {
    width: 50%;
  }
}

.class_details_cont {
  margin-top: 50px;
  width: 100%;
  @include media(tabletAndUp) {
    width: 50%;
    margin-top: 0px;
  }
}

.class_details {
  width: 90%;
  font-family: "open";
  margin-left: 15px;
  @include media(tabletAndUp) {
    margin-left: 0px;
  }
}

.class_description {
  margin-top: 20px;
}

.class_description_footer {
  font-size: var(--font-size-xl);
  margin-top: 40px;
  font-weight: bold;
  justify-content: space-between;
  @include media(tabletAndUp) {
    flex-direction: row;
  }
}

.class_pricing {
  margin-bottom: 40px;
  @include media(tabletAndUp) {
    margin-bottom: 0px;
  }
}

.class_price {
  font-size: var(--font-size-l);
  min-width: 150px;
}

.price_description {
  margin-left: 10px;
  align-self: center;
  font-size: var(--font-size-s);
}

.enrol_class {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.back_container {
  margin-top: 40px;
  margin-left: 40px;
}

.back_arrow {
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  color: black;
  background-color: white;
}

.back_text {
  font-size: var(--font-size-xxl);
  // margin-left: 10px;
  font-family: "open";
  align-self: center;
}
