.enrol_section {
  font-family: "JosefinSans-reg";
}

.form_container {
  font-family: "open";
  background-color: #e0b1cb;
}

.enrol_container {
  font-size: var(--font-size-m);
  margin-top: 50px;
  margin-bottom: 50px;
  a {
    padding: 13px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  @include media(tabletAndUp) {
    font-size: var(--font-size-xl);
  }
}

.or {
  align-self: center;
  padding: 50px 0 50px 0px;
  margin-bottom: 50px;
  // width: 200px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}
