.home__cont {
  z-index: -5;
}

.home__upper {
  position: relative;
  height: 50%;
  z-index: 2;
}

.home__lower {
  height: 50%;
  background-color: #7cc6fe;
  z-index: 1;
}

.banner-pic {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  margin: 5%;
  flex-direction: column;
  align-items: center;

  @include media(tabletAndUp) {
    flex-direction: row;
  }
}

.card__picture {
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 3px solid #5e548e;

  @include media(tabletAndUp) {
    height: 400px;
    width: 400px;
    padding-top: 0%;
  }
}

.card__description {
  margin-top: 30px;
  margin-left: 5%;
  @include media(tabletAndUp) {
    margin-top: 0px;
  }
}

.portrait__container {
  width: 100%;
  height: 300px;
  position: relative;
}

.portrait {
  height: 100%;
  margin-right: 4%;
  display: none;
  z-index: 1;

  @include media(tabletAndUp) {
    display: block;
  }
}

.register__container {
  background-color: #e0b1cb;
  width: 100%;
}

.register__line {
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 1.5px solid black;
}

.register__button {
  font-family: var(--font-family-secondary);
  color: #333333;
  letter-spacing: 0.5px;
  cursor: pointer;
  transform: translateY(50%);
  background-color: #e0b1cb;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  font-weight: normal;
  font-size: var(--font-size-xxl);
  z-index: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.register__button:hover {
  color: white;
}

.landscape__container {
  width: 100%;
}

.vertical_line {
  display: none;
  @include media(tabletAndUp) {
    display: block;
    left: 900px;
    position: absolute;
    height: 719.3px;
    border-left: 1px solid black;
  }
}

.horizontal_line {
  width: 100%;
  margin-top: 50px;
  @include media(tabletAndUp) {
    margin-top: 0px;
    display: block;
    border-top: 1px solid black;
    width: 1000px;
  }
}

.quote_cont {
  min-height: 100px;
}

.inspiring_quote {
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  font-family: var(--font-family-primary);
  @include media(tabletAndUp) {
    left: 900px;
  }
}
