<tr>
  <td class="class-cont">
    <div class="class flex col level_<%= my_class.ballet_class.ballet_level.id %>">
      <a class="class__name"><%= my_class.ballet_class.ballet_level.name%></a>
      <a class="class__time"><%= "#{my_class.start_time} - #{my_class.end_time}" %></a>
    </div>
  </td>
</tr>