.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-c {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.as-fe {
  align-self: flex-end;
}

.as-c {
  align-self: center;
}
