.main {
  margin-right: 25px;
  align-self: center;
}

// .logo {
//  opacity: 1;
// }

.secondary {
  opacity: 0;
}

.logo-cont {
  position: relative;
  margin-top: 4vw;
  margin-left: 6vw;
  width: 15vw;
  transition: width 2s, margin 2s;
  img {
    position: absolute;
    // left:0;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;

  }
}

.header-cont {
  height:100px;
  background-color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.header-menu {
  display: none;

  @include media(tabletAndUp) {
    display: flex;
    width: 600px;
    align-self: center;
    margin-right: 25px;
    font-family: var(--font-family-secondary);
  }
}

.bar {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.icon-container {
  margin-right: 6%;
  @include media(tabletAndUp) {
    display: none;
  }
}

.logo-secondary{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  width: 50px;
  // opacity: 0;
  transition: width 2s, margin 2s;
}

.header-colour {
  background-color: #7CC6FE;
  -webkit-transition: background-color 2000ms linear;
  -ms-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;
}
