<div data-controller="carousel" class="gallery swiper swiper-initialized swiper-horizontal swiper-pointer-events"
    data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>
  <div class="swiper-wrapper poop">
    <div class= "swiper-slide gallery__picture flex jc-c"><%= image_tag "gallery/picture2.webp", class: "picture", alt: "ballet picture" %></div>
    <div class= "swiper-slide gallery__picture flex jc-c"><%= image_tag "gallery/Grade1.webp", class: "picture",alt: "ballet picture" %></div>
    <div class= "swiper-slide gallery__picture flex jc-c"><%= image_tag "gallery/Grade2.webp", class: "picture", alt: "ballet picture" %></div>
  </div>
  <div class="swiper-pagination"></div>

  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev gallery__button"></div>
  <div class="swiper-button-next gallery__button"></div>
</div>