<div data-controller="carousel" class="gallery swiper swiper-initialized swiper-horizontal swiper-pointer-events"
    data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>
  <div class="swiper-wrapper">
    <% @gallery.pictures.each do |picture|%>
      <% if picture.representable? %>
        <div class= "swiper-slide gallery__picture flex jc-c"><%= image_tag picture, class: "picture", alt: "ballet picture gallery" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>

  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev gallery__button"></div>
  <div class="swiper-button-next gallery__button"></div>
</div>