<h1>Edit ballet_class</h1>

<%= turbo_frame_tag @ballet_class do %>
<%= render "form", timetable: @timetable, ballet_class: @ballet_class %>
<% end %>
<br>

<div>
  <%= link_to "Back to ballet_classes", admin_timetable_ballet_class_path(@timetable, @ballet_class) %>
</div>