<section data-header-target="other" class="admin-main">

  <div class="admin-heading-cont flex jc-sa">
    <h1 class="admin-heading">Classes</h1>
    <div class="as-c"><%= link_to "Add Class", new_admin_ballet_class_path, class:"admin-new-button", data: { turbo_frame: dom_id(BalletClass.new) } %></div>
  </div>
  <div>
    <%= turbo_frame_tag BalletClass.new %>
    <%= turbo_frame_tag "ballet_classes" do %>
      <%= render @ballet_classes %>
    <% end %>
  </div>
  
</section>