
<div class="admin-item flex jc-sb">
  <div class="admin-item-name" %>filler class time</div>
  <div class="ballet-class__actions flex">
    <%= button_to "",
                  admin_ballet_class_path(ballet_class),
                  method: :delete,
                  class: "admin-button touch delete" %>
    <%= link_to "",
                edit_admin_ballet_class_path(ballet_class),
                class: "admin-button touch edit" %>
  </div>
</div>
