<div class="th-menu-wrapper">
    <div class="th-menu-area style3 text-center">
        <button class="th-menu-toggle style3"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="index.html"><%= image_tag "logo.svg", alt: "Danza"%></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#hero">Home</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Multipage</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Modern Dance</a></li>
                                <li><a href="index-dance-School.html">Dance School</a></li>
                                <li><a href="index-dance-School-2.html">Dance School Style2</a></li>
                                <li><a href="index-ballet-studio.html">Ballet Studio</a></li>
                                <li><a href="index-dance-studio.html">Dance Studio</a></li>
                                <li><a href="index-pole-dance.html">Pole Dance</a></li>
                                <li><a href="index-hip-hop-dance.html">Hip Hop Dance</a></li>
                                <li><a href="index-modern-dance-2.html">Modern Dance Style2</a></li>
                                <li><a href="index-contemporary-ballet.html">Contemporary Ballet</a></li>
                                <li><a href="index-childrens-ballet.html">Children's Ballet</a></li>
                                <li><a href="index-latino-dance.html">Latino Dance</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Onepage</a>
                            <ul class="sub-menu">
                                <li><a href="index-onepage.html">Modern Dance</a></li>
                                <li><a href="index-2-onepage.html">Dance School</a></li>
                                <li><a href="index-3-onepage.html">Dance School Style2</a></li>
                                <li><a href="index-4-onepage.html">Ballet Studio</a></li>
                                <li><a href="index-5-onepage.html">Dance Studio</a></li>
                                <li><a href="index-6-onepage.html">Pole Dance</a></li>
                                <li><a href="index-7-onepage.html">Hip Hop Dance</a></li>
                                <li><a href="index-8-onepage.html">Modern Dance Style2</a></li>
                                <li><a href="index-9-onepage.html">Contemporary Ballet</a></li>
                                <li><a href="index-10-onepage.html">Children's Ballet</a></li>
                                <li><a href="index-11-onepage.html">Latino Dance</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Classes</a>
                    <ul class="sub-menu">
                        <li><a href="dance-classes.html">Dance Classes</a></li>
                        <li><a href="single-classes.html">Single Classes</a></li>
                        <li><a href="class-schedule.html">Class Schedule</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children"><a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="single-shop.html">Single Shop</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li><a href="event.html">Event</a></li>
                        <li><a href="single-event.html">Single-Event</a></li>
                        <li><a href="instructor.html">Our Instructor</a></li>
                        <li><a href="single-instructor.html">Single Instructor</a></li>
                        <li><a href="service.html">service</a></li>
                        <li><a href="single-service.html">single-service</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="account.html">Account</a></li>
                        <li><a href="error.html">Error</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Blog Layout</a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid-2-columns.html">Blog Grid 02 Columns</a></li>
                                <li><a href="blog-grid-3-columns.html">Blog Grid 03 Columns</a></li>
                                <li><a href="blog-list.html">Blog List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog Sidebar</a>
                            <ul class="sub-menu">
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog.html">Blog No Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>