.form_title {
  padding: 30px 30px 15px 30px;
  font-family: "JosefinSans-reg";
  font-weight: normal;
  width: 400px;
  margin-bottom: 15px;
  border-bottom: 1px black solid;
}

.form_fields {
  padding-bottom: 20px;
  @include media(tabletAndUp) {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

.field {
  padding: 10px 30px 10px 30px;
  justify-content: space-around;
  flex-basis: 50%;
}

.input_field {
  border: 1px #5e548e solid;
  border-radius: 20px;
  padding: 10px;
}

.comments_field {
  height: 100px;
  width: 500px;
  padding: 5px;
}

.errors {
  color: #990d35;
}

// SUBMIT BUTTON

@-webkit-keyframes {
}
@-webkit-keyframes extend {
  0% {
    width: 200px;
    height: 50px;
    border-radius: 100px;
  }
  10% {
    width: 210px;
    height: 60px;
    background: #fff;
    margin-left: -5px;
    margin-top: -5px;
  }
  20% {
    width: 200px;
    height: 50px;
    background: #6fb07f;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 190px;
    background: #629677;
  }
}
@keyframes extend {
  0% {
    width: 200px;
    height: 50px;
    border-radius: 100px;
  }
  10% {
    width: 210px;
    height: 60px;
    background: #fff;
    margin-left: -5px;
    margin-top: -5px;
  }
  20% {
    width: 200px;
    height: 60px;
    background: #629677;
    margin-left: 0px;
    margin-top: 0px;
  }
  100% {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 190px;
    background: #629677;
  }
}
@-webkit-keyframes {
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: #fff;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    color: #fff;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes {
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// html {
//   background: #fff;
// }

.form-submit,
.btn {
  border: none;
}

.form-submit:hover {
  cursor: pointer;
  text-align: center;
}

.form-submit {
  z-index: 20;
  font-size: 25px;
  color: #629677;
  background: #fff;
}

.cont {
  position: absolute;
  width: 610px;
  height: 10px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -300px;
}

.btn {
  position: relative;
  border-width: 1px;
  width: 200px;
  height: 50px;
  /*border-radius*/
  border-radius: 100px;
  background: #fff;
  border: 2px solid #629677;
}

.btn > .btn-text {
  font-size: 25px;
  color: #629677;
}

.submit-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

// .btn:active {
//   /*animation*/
//   -webkit-animation: extend 1s ease-in-out;
//   -ms-animation: extend 1s ease-in-out;
//   animation: extend 1s ease-in-out;
//   -webkit-animation-fill-mode: forwards;
//   /* Chrome, Safari, Opera */
//   animation-fill-mode: forwards;
// }

// .btn:active > .btn-text {
//   /*animation*/
//   -webkit-animation: disappear 1s ease-in-out;
//   -ms-animation: disappear 1s ease-in-out;
//   animation: disappear 1s ease-in-out;
//   -webkit-animation-fill-mode: forwards;
//   /* Chrome, Safari, Opera */
//   animation-fill-mode: forwards;
// }

// .btn:active > .submit-img {
//   /*animation*/
//   -webkit-animation: appear 1s ease-in-out;
//   -ms-animation: appear 1s ease-in-out;
//   animation: appear 1s ease-in-out;
//   -webkit-animation-fill-mode: forwards;
//   /* Chrome, Safari, Opera */
//   animation-fill-mode: forwards;
// }

.button_animate {
  /*animation*/
  -webkit-animation: extend 1s ease-in-out;
  -ms-animation: extend 1s ease-in-out;
  animation: extend 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

.text_animate {
  /*animation*/
  -webkit-animation: disappear 1s ease-in-out;
  -ms-animation: disappear 1s ease-in-out;
  animation: disappear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}

.image_animate {
  /*animation*/
  -webkit-animation: appear 1s ease-in-out;
  -ms-animation: appear 1s ease-in-out;
  animation: appear 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards;
}
