.class {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #e7bbe3;
  font-size: var(--font-size-xs);
  text-align: center;
  width: 100%;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.class__name {
  font-family: open-light;
  color: white;
}

.class__time {
  font-family: "open-light-italic";
  color: white;
}

$colors: ("1" : #e6194b, 
"2" : #3cb44b, 
"3" : #ffe119, 
"4" : #4363d8,
"5" : #f58231, 
"6" : #911eb4, 
"7" : #46f0f0, 
"8" : #f032e6, 
"9" : #bcf60c,
"10" : #fabebe,
"11" : #008080, 
"12" : #e6beff, 
"13" : #9a6324, 
"14" : #fffac8, 
"15" : #800000, 
"16" : #aaffc3, 
"17" : #808000, 
"18" : #ffd8b1, 
"19" : #000075, 
"20" : #808080);

@each $index, $color in $colors {
  .level_#{$index} {
    background-color: $color;
  }
}

 /* #e7bbe3 - better pink
 #ccd5ff - neutral blue */


/* #5DFDCB - green */
/* #8789C0 - pink */
/* #7CC6FE - blue */
/* #F4FAFF - white */
/* #333333 - black */