.gallery {
  width: 100%;
  position: relative;
  
  @include media(tabletAndUp) {
    width: 1000px;
  }
}

.gallery__picture {
  width: 100%;
  height: 100%;
}

.gallery__button {
  display: none;

  @include media(tabletAndUp) {
    display: inline;
  }
}
// Hidden doesn't work on gallery buttons because its incompatible with flexbox -> https://stackoverflow.com/questions/23772673/hidden-property-does-not-work-with-flex-box
[hidden]{
  display:none;
}